.bev-container {
  padding: 20px;
}

.title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}

.bev-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.bev-card {
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 10px;
  transition: 0.3s;
  background: #ffff;
}

.bev-card:hover {
  transform: translateY(-5px);
}

.img-box {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.add-btn {
  position: absolute;
  bottom: 8px;
  right: 8px;
  padding: 6px 12px;
  background-color: #44c767;
  color: white;
  border: none;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.price-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.price {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.old-price {
  font-size: 14px;
  text-decoration: line-through;
  color: #666;
}

.offer {
  color: #d9534f;
  font-weight: bold;
  margin: 5px 0;
}

.name {
  font-weight: bold;
  font-size: 18px;
}

.pack {
  font-size: 14px;
  color: #555;
}

.tag {
  background: #f1f1f1;
  padding: 4px 10px;
  display: inline-block;
  border-radius: 5px;
  margin-top: 6px;
  font-size: 13px;
}

.rating {
  margin-top: 6px;
  font-weight: bold;
  color: #ffa500;
}
